# Data Types

### Sequence #

In [23]:
# String: what comes betweeen quotes will be a string '' or "" or
# ''' ''' between thee Quotes considers new lines 

text = ' Hello , word'

#acssess characters 

print(text[3])
print(text[5:15])

print("\n String methodes: \n ")

print(text.lower())
print(text.upper())
print(text.split(","))
print(text.strip()) #removing white space at begaining or end of striing
print(text.replace(" Hello", "RPA")) # the old word must be the same 
print(" ".join(text)) # for the join the strings must be in list

l
o , word

 String methodes:

 hello , word
 HELLO , WORD
[' Hello ', ' word']
Hello , word
RPA , word
  H e l l o   ,   w o r d

### Tuples 
1.immutable

In [34]:
chars = ( "a" , "b" , "c" , "d", "a" )

print(chars.count("a"))

print(chars.index("b"))

for index, char in enumerate(chars):
    print(f"Inedx {index} : {char}")

2
1
Inedx 0 : a
Inedx 1 : b
Inedx 2 : c
Inedx 3 : d
Inedx 4 : a

### List

In [45]:
list1 = ["ahmed" , "khliad", "yousef", "mohsen"]

list1.append("mohammed") # add element at th end
print(list1)
list1.insert(0, "nader") # add element at index you provide the beganing 
print(list1)
removed = list1.pop() # takes out element you provide index for or last one as default
print(removed)
list1.remove("khliad")
print(list1)
list1.extend(["nawaf","naif"])
print(list1)

['ahmed', 'khliad', 'yousef', 'mohsen', 'mohammed']
['nader', 'ahmed', 'khliad', 'yousef', 'mohsen', 'mohammed']
mohammed
['nader', 'ahmed', 'yousef', 'mohsen']
['nader', 'ahmed', 'yousef', 'mohsen', 'nawaf', 'naif']

### dictionary

In [67]:

info = {"name": "Ahmed", "phone":"05655666"}

info.get("name","")

info.update({"location":"Riyadh", "collage":"KFUPM"})

print(info)

print(info.keys())
print(info.values())
print(info.items())

info["location"] = "DAMMAM"    #change

info

{'name': 'Ahmed', 'phone': '05655666', 'location': 'Riyadh', 'collage': 'KFUPM'}
dict_keys(['name', 'phone', 'location', 'collage'])
dict_values(['Ahmed', '05655666', 'Riyadh', 'KFUPM'])
dict_items([('name', 'Ahmed'), ('phone', '05655666'), ('location', 'Riyadh'), ('collage', 'KFUPM')])

{'name': 'Ahmed',
 'phone': '05655666',
 'location': 'DAMMAM',
 'collage': 'KFUPM'}

### Sets

In [74]:
text = "this is example for sets to be seprated by uniqe words , sets"

set1 = set(text.split())
print(set1)

## sets methods 

set1.add("cheese") #add single 
print(set1)
set1.update(['cake','yolo'])
print(set1)
set1.discard(",")
print(set1)

{'uniqe', ',', 'example', 'seprated', 'this', 'sets', 'be', 'for', 'by', 'words', 'to', 'is'}
{'uniqe', ',', 'example', 'seprated', 'this', 'sets', 'be', 'cheese', 'for', 'by', 'words', 'to', 'is'}
{'uniqe', ',', 'example', 'seprated', 'this', 'sets', 'be', 'cheese', 'for', 'by', 'words', 'yolo', 'to', 'cake', 'is'}
{'uniqe', 'example', 'seprated', 'this', 'sets', 'be', 'cheese', 'for', 'by', 'words', 'yolo', 'to', 'cake', 'is'}

### Iterator

In [91]:
# Zip used when you want to join two sets, or any data type and print the togather 

set2 = {1,2,3,4,5}
set3 = {"ahmed","yousef","jem","jan"}

for id, name in zip(set2,set3):
    print(f"id: {id} for {name}")
print("----------------")
# enumerate used when you want to put index with list 
for index , name in enumerate(set3):
    print(f"{index} : {name}")
print("-----------------")

numbers = [1, 2, 3, 4, 5]
squared = map(lambda x: x**2, numbers)
for num in squared:
    print(num)

id: 1 for jan
id: 2 for yousef
id: 3 for jem
id: 4 for ahmed
----------------
0 : jan
1 : yousef
2 : jem
3 : ahmed
-----------------
1
4
9
16
25

# BuiltIn Functions

In [93]:
# function that takes the card id and pin for ATM

accounts = {
    "12345": {"pin": "1234", "balance": 1000}
}
def authenticate(account_number, PIN):
    if account_number in accounts:
        if accounts[account_number]["pin"] == PIN:
            return True
    return False
def withdraw(account_number, amount):
    if accounts[account_number]["balance"] >= amount:
        accounts[account_number]["balance"] -= amount
        print(f"made withdraw with amount {amount} SAR and the new balance is {accounts[account_number]['balance']} ")
    else:
        print("Insufficient balance.")
def main():
    account_number = input("Enter your account number: ")
    pin = input("Enter your PIN: ")

    if authenticate(account_number, pin):
        while True:
            print("\nATM Menu")
            print("1. Withdraw")
            print("2. Exit")

            choice = input("Enter your choice: ")

            if choice == '1':
                amount = int(input("Enter withdrawal amount: "))
                withdraw(account_number, amount)
            elif choice == '2':
                print("Thank you for using the ATM.")
                break
            else:
                print("Invalid choice. Please try again.")
    else:
        print("Invalid account number or PIN.")

if __name__ == "__main__":
    main()

Enter your account number:  12345
Enter your PIN:  1234

ATM Menu
1. Withdraw
2. Exit

Enter your choice:  1
Enter withdrawal amount:  500

made withdraw with amount 500 SAR and the new balance is 500

ATM Menu
1. Withdraw
2. Exit

Enter your choice:  1
Enter withdrawal amount:  300

made withdraw with amount 300 SAR and the new balance is 200

ATM Menu
1. Withdraw
2. Exit

Enter your choice:  2

Thank you for using the ATM.