In [6]:
#filter to get only the even numbers with lambda :
nums = [ 1 ,2 ,3 ,4 ,5 ,6]
even_nums = list(filter(lambda x: x % 2 == 0, nums))
print (even_nums)

[2, 4, 6]

In [11]:
#use enumerate () to names
names ={ 1: 'sara' , 2: 'mohammed' , 3: 'Lna'}
for nums , names in enumerate(names.values()):
      print(f"{nums}: {names}")

0: sara
1: mohammed
2: Lna

In [18]:
# to split items in text
items_text = " Pen Book Calculater Pen "
items= set(items_text.split())
print(items)

{'Pen', 'Book', 'Calculater'}